.article {
	// Those properties need to be set on
	// the parent of the element with columns.
	overflow-x: scroll;
	overflow-y: hidden;
}

.article-header {
	height: @pageHeight;
	// This needs to be set to a multiple of the column-width
	// that allows at least 2 columns in order for columns
	// to appear at all have have the right width.
	width: @pageWidth * 2;
	column-width: @pageWidth;
	column-gap: 0;
	// Firefox 48 needs the -moz prefix for column attributes
	-moz-column-width: @pageWidth;
	-moz-column-gap: 0;
	padding-top: 10px;
	// This prevents long words like URL from overflowing
	// onto the next column.
	word-wrap: break-word;

	.lead-image {
		margin-top: -10px;
		width: 100%;
		height: @pageHeight;
		background-size: @pageWidth auto;
	}

	.card {
		padding: 10px;
		border-radius: 5px;
		background-color: white;
		box-shadow: -2px 2px 10px 0 rgba(0, 0, 0, 0.1);
		border: solid 1px #f5f5f5;
		margin: 15px 5px;

		&.with-image {
			margin-top: -120px;
		}

		.title {
			font-family: @titleFont;
			font-size: 22px;
			line-height: 0.91;
		}

		.desc {
			font-family: @textFont;
			font-size: 14px;
			line-height: 1.58;
			margin-top: 5px;
			color: @colorLight;
		}

		.line {
			width: 63px;
			height: 1px;
			background-color: #c8ccd1;
			margin-top: 10px;
		}
	}
}

.article-content {
	font-family: @textFont;
	font-size: 14px;
	line-height: 1.75;
	text-align: justify;

	* {
		max-width: 200px;
	}

	table {
		display: none;
	}

	figure {
		margin: 10px;
	}

	span.mw-ref {
		font-size: 7px;
		vertical-align: super;
	}

	img {
		max-width: 210px;
		max-height: 250px;
	}

	a {
		text-decoration: none;
	}

	.quotebox {
		// width: 100% !important;
	}

	blockquote {
		margin: 10px;
	}
}
