.article-header {
	overflow-y: scroll;
	overflow-x: hidden;
	// padding: 5px 15px;

	& > img {
		width: 100%;
	}

	.card {
		margin: 0 5px;
		padding: 10px;
		border-radius: 5px;
		background-color: white;
		// position: absolute;
		box-shadow: -2px 2px 10px 0 rgba(0, 0, 0, 0.1);
		border: solid 1px #f5f5f5;
		bottom: 0;
		left: 0;
		right: 0;
		top: 15px;

		&.with-image {
			top: 97px;
		}

		.title {
			font-family: Georgia;
			font-size: 22px;
			line-height: 0.91;
			color: #000000;
		}

		.desc {
			font-family: Lato;
			font-size: 12px;
			line-height: 1.58;
			margin-top: 5px;
			color: #72777d;
		}

		.line {
			width: 63px;
			height: 1px;
			background-color: #c8ccd1;
			margin-top: 10px;
		}
	}
}

.article-content {
	font-family: Lato;
	font-size: 12px;
	line-height: 1.75;

	table {
		display: none;
	}

	figure {
		margin-left: 0;
	}

	span.mw-ref {
		font-size: 7px;
		vertical-align: super;
	}

	img {
		max-width: 210px;
	}

	a {
		text-decoration: none;
	}
}
