.confirm-dialog {
	overflow: hidden;
	width: 100%;
	height: 100%;

	.header {
		background-color: #d8d8d8;
		box-sizing: border-box;
		padding: 4px 0;
		text-align: center;
	}

	.info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 49px;
		margin: 0;
		padding: 18px 16px;
		border-bottom: 1px solid #c8ccd1;
	}
}
