.feedback {
	.header {
		height: @pageHeaderHeight;
		max-height: @pageHeaderHeight;
		background-color: #d8d8d8;
		box-sizing: border-box;
		padding: 3px 0;
		font-size: 17px;
		text-align: center;
	}

	.body {
		background-color: #f8f9fa;
		height: @availableHeight;
		text-align: center;

		@media @landscape {
			padding-top: 2px;
		}

		.textarea-box {
			padding-top: 3px;

			textarea {
				width: 228px;
				height: 136px;
				border-radius: 2px;
				background-color: #fff;
				border: solid 0.5px #000;
				resize: none;

				@media @landscape {
					width: 290px;
					height: 78px;
				}
			}

			// .border-regular {
			// 	border: solid 0.5px #000;
			// }

			// .border-error {
			// 	border: solid 0.5px #d33;
			// }
		}

		.explanation-box {
			font-size: 14px;
			font-weight: normal;
			font-stretch: normal;
			font-style: normal;
			line-height: 1.2;
			letter-spacing: normal;
			color: #afb3bf;
			text-align: left;
			padding-left: 10px;
			padding-right: 10px;

			a {
				color: #36c;
				text-decoration: none;

				&[ nav-selected=true ] {
					border-radius: 2px;
					border: solid 1px rgba( 51, 102, 204, 0.48 );
					background-color: #eaf3ff;
				}
			}

			@media @landscape {
				padding-left: 16px;
				padding-right: 16px;
			}
		}
	}

	// .error {
	// 	position: relative;
	// 	bottom: 92px;
	// 	color: #d33;
	// 	height: 0;
	// 	font-size: 14px;
	// 	font-weight: normal;
	// 	font-stretch: normal;
	// 	font-style: normal;
	// 	line-height: normal;
	// 	letter-spacing: normal;

	// 	@media @landscape {
	// 		bottom: 45px;
	// 	}
	// }

	// .success {
	// 	position: relative;
	// 	bottom: 20px;
	// 	height: 25px;
	// 	background-color: #323232;
	// 	color: #fff;
	// 	font-size: 17px;
	// 	font-weight: normal;
	// 	font-stretch: normal;
	// 	font-style: normal;
	// 	line-height: normal;
	// 	letter-spacing: normal;
	// 	text-align: center;

	// 	span {
	// 		position: absolute;
	// 		top: 0;
	// 		bottom: 0;
	// 		left: 0;
	// 		right: 0;
	// 		height: 50%;
	// 		margin: auto;
	// 	}
	// }
}

.success-message {
	text-align: center;

	.header {
		height: @pageHeaderHeight;
		max-height: @pageHeaderHeight;
		background-color: #d8d8d8;
		box-sizing: border-box;
		padding: 3px 0;
		font-size: 17px;
	}

	p.preview-text {
		font-size: 15px;
		height: 30px;
	}
}
