.feed {
	background-color: #f5f5f5;
	position: absolute;
	width: 100vw;

	&.collapsed {
		bottom: 30px;
		height: 50px;
		border-radius: 6px 6px 0 0;

		.header {
			margin: 0 31px 0 11px;
		}

		.list {
			top: 32px;
			bottom: 0;

			.item {
				height: 45px;
				background-color: #f5f5f5;
			}
		}
	}

	&.expanded {
		height: 255px;

		.list {
			top: 33px;
			bottom: 0;
		}
	}

	.header {
		width: 73px;
		height: 14px;
		margin: 10px 31px 9px 10px;
		opacity: 0.9;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: bold;
		letter-spacing: 1px;
		color: #201212;
		background-color: #f5f5f5;
		padding: 0;
	}

	.cue {
		width: 15px;
		height: 3px;
		margin: auto;
		margin-top: 8px;
		border-radius: 1.5px;
		background-color: #ccc;
	}

	.list {
		background-color: #f5f5f5;

		.item {
			background-color: #fff;
			height: 75px;
			margin-bottom: 5px;
			padding: 2px 9px;

			.info {
				justify-content: start;

				.title {
					font-size: 14px;
					font-weight: bold;
					line-height: 1.21;
					margin-top: 4px;
				}

				.description {
					height: 42px;
					width: 155px;
					white-space: normal;
				}
			}

			.img {
				height: 50px;
				width: 50px;
				flex: none;
				background-position: center;
				margin-top: 4px;
			}

			&[ nav-selected=true ] {
				border: solid 2px;
				border-color: #36c;
				background-color: #fff;

				.info {
					.title {
						color: #36c;
					}

					.description {
						color: @colorLight;
					}
				}
			}
		}
	}
}
