.feed {
	background-color: #fff;
	position: absolute;

	&.collapsed {
		width: calc( 100vw - 21px );
		margin-left: 10px;
		bottom: 30px;
		height: 50px;
		border-radius: 3px 3px 0 0;
	}

	&.expanded {
		height: 255px;
		width: 100vw;
	}
}
