@standard: 14px, 15px, 16px, 17px, 18px, 19px, 20px;
@title: 22px, 23px, 24px, 25px, 26px, 27px, 28px;
@preview-title: 15px, 16px, 17px, 18px, 19px, 20px, 21px;
@desc: 12px, 13px, 14px, 15px, 16px, 17px, 18px;

each(range(7), {
	.font-size-@{value} {
		font-size: extract(@standard, @value);

		&.title {
			font-size: extract(@title, @value)
		}

		&.preview-title {
			font-size: extract(@preview-title, @value)
		}

		&.desc {
			font-size: extract(@desc, @value)
		}

		&.reference-preview {
			font-size: extract(@desc, @value)
		}
	}
});
