.language {

	background-color: #3366cc;
	text-align: center;

	.header {
		height: @pageHeaderHeight;
		max-height: @pageHeaderHeight;
		background-color: #d8d8d8;
		box-sizing: border-box;
		padding: 3px 0;
		font-family: @textFont regular;
		font-size: 17px;
		text-align: center;
	}

	input {
		width: 214px;
		font-size: 17px;
		font-family: @textFont;
		font-size: 17px;
		color: #323232;
		margin: 5px 10px;
		border-radius: 2px;
		padding: 2px;
		border: 1px;

		&:focus {
			outline: none;
		}
	}

	.radio-list {
		top: 60px;
		bottom: @softkeysHeight;
	}
}

.language-message {
	
	font-family: @textFont regular;

	.header {
		height: @pageHeaderHeight;
		max-height: @pageHeaderHeight;
		background-color: #d8d8d8;
		box-sizing: border-box;
		padding: 3px 0;
		font-size: 17px;
		text-align: center;
	}

	p.preview-text {
		font-size: 12px;
		margin: 10px;
	}
}
