a,
span.mw-ref {
	unicode-bidi: -moz-isolate;
	unicode-bidi: -webkit-isolate;
	unicode-bidi: isolate;

	// invisible border to reserve a pixel around the element
	border: solid 1px rgba( 51, 102, 204, 0 );

	&[ data-selected=true ] {
		background-color: #eaf3ff;
		border: solid 1px rgba( 51, 102, 204, 0.48 );
		border-radius: 2px;
	}
}
