.onboarding {
	height: calc( 100vh );
	padding: 0 15px;
	background-color: #fff;

	.image {
		text-align: center;
		padding: 20px 0;
		background-position: center center;
		background-repeat: no-repeat;

		@media ( min-width: 200px ) {
			background-size: 140px;

			img {
				width: 112px;
				height: 112px;
			}
		}

		@media @landscape {
			background-size: 100px;
			padding: 15px 0 8px 0;

			img {
				width: 82px;
				height: 82px;
			}
		}
	}

	.title {
		font-weight: bold;
		font-size: 20px;
		line-height: 23.6px;

		@media @landscape {
			font-size: 17px;
			line-height: 22px;
		}
	}

	.description {
		font-size: 13px;
		line-height: 18px;
		margin-top: 5px;

		@media @landscape {
			font-size: 12px;
			line-height: 16px;
			margin-top: 2px;
		}
	}

	.indicator {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		position: fixed;
		bottom: @softkeysHeight + 9px;
		width: calc( 100% - 30px );

		.dot {
			margin: 0 6px;
			width: 6px;
			height: 6px;
			border: solid 1px #54595d;
			border-radius: 3px;

			&.selected {
				background-color: #54595d;
			}
		}
	}
}
