.article-preview {
	overflow: hidden;
	width: 100%;
	height: 100%;

	.item {
		border-bottom: 1px solid #c8ccd1;

		.title {
			font-weight: bold;
		}
	}

	.preview-text {
		padding: 4px 10px 0 10px;

		p {
			font-size: 14px;
			margin: 0;
		}
	}
}
