.article-preview {
	overflow: hidden;
	width: 100%;
	height: 100%;

	.item {
		width: 100%;
		margin: 0;
		padding: 6px 10px;
		border-bottom: 1px solid #c8ccd1;
		display: flex;
		flex: auto;
		justify-content: space-between;
		align-items: center;

		.title {
			font-family: 'Lato', sans-serif;
			font-weight: bold;
			font-size: 15px;
			white-space: nowrap;
			text-overflow: ellipsis;
			height: 100%;
			overflow: hidden;
		}

		.img {
			width: 38px;
			height: 38px;
			border-radius: 4px;
		}
	}

	.preview-text {
		padding: 4px 10px 0 10px;
		font-size: 14px;

		p {
			margin: 0;
		}
	}

	&.loading {
		.preview-text {
			padding: 11px 10px;
		}

		.loading-block {
			background-color: #d8d8d8;
			border-radius: 2px;

			&.short {
				width: 61px;
				height: 11px;
			}

			&.full {
				width: 100%;
				height: 11px;
				margin-bottom: 6px;
			}

			&.img {
				border-radius: 3px;
			}
		}
	}
}
