.quickfacts {
	overflow-x: hidden;
	overflow-y: scroll;
	overflow: -moz-scrollbars-none;
	height: @availableHeight;

	[ nav-selected=true ] {
		background-color: #eaf3ff;
		outline: solid 1px rgba( 51, 102, 204, 0.5 );
	}

	table {
		max-width: 100vw;
	}

	img {
		max-width: 100vw;
	}

	span.plainlinks {
		display: none;
	}
}
