.quickfacts {
	overflow-x: hidden;
	overflow-y: scroll;

	[nav-selected=true] {
		background-color: #eaf3ff;
		border: solid grey 1px;
		border-radius: 2px;
		padding: 2px;
	}

	table {
		max-width: @pageWidth !important;
	}

	img {
		max-width: 200px !important;
	}

	span.plainlinks {
		display: none;
	}
}