.radiolistview {
	.header {
		height: @pageHeaderHeight;
		max-height: @pageHeaderHeight;
		background-color: #d8d8d8;
		box-sizing: border-box;
		padding: 3px 0;
		font-size: 17px;
		text-align: center;
	}

	.list {
		width: 100%;
		background-color: #fff;
		text-align: left;
		overflow: scroll;
		position: absolute;

		.item {
			width: 100%;
			height: 49px;
			margin: 0;
			padding: 6px 10px;
			display: flex;
			justify-content: space-between;

			.info {
				height: 100%;
				overflow: hidden;
				display: flex;
				flex-direction: column;
				justify-content: center;

				.title {
					font-size: 17px;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}

				.description {
					font-size: 12px;
					color: @colorLight;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
				}
			}

			&[ dir='rtl' ] {
				direction: ltr;
				justify-content: flex-end;
				text-align: right;

				.info {
					padding-right: 6px;
				}
			}

			&[ nav-selected=true ] {
				background-color: #eaf3ff;
			}

			.radio-container {
				margin-top: 7px;

				.radio {
					width: 22px;
					height: 22px;
					border-radius: 11px;
					border: 2px solid #36c;

					&.selected {
						outline: 5px solid #36c;
						outline-offset: -11px;
						-moz-outline-radius: 11px;
					}
				}
			}
		}

		.empty {
			display: flex;
			height: 100%;
			align-items: center;
			justify-content: center;
			padding: 0 10px;
			font-size: 17px;
			color: #323232;
		}
	}
}
