.reference-preview {
	padding: 10px;

	.ref-title {
		font-size: 14px;
		text-transform: uppercase;
		border-bottom: #c8ccd1 solid 1px;
		padding-bottom: 5px;
	}

	.ref-content {
		padding-top: 5px;
	}
}
