.search {
	background-color: #36c;
	text-align: center;
	height: 100vh;

	.double-u {
		width: 60px;
		padding-top: 48px;
		padding-bottom: 10px;
		margin: 0 auto;
	}

	.home-text-box {
		color: #fff;
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 15px;
	}

	.welcome-text {
		font-size: 12px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		padding-left: 12px;
		padding-right: 12px;
		line-height: 1.5;
		letter-spacing: normal;
		text-align: center;
		color: #fff;
	}

	.language-text {
		font-size: 10px;
		margin-top: 40px;
	}

	input {
		width: calc( 100vw - 20px );
		color: #323232;
		margin: 5px 0 11px 0;
		border-radius: 2px;
		padding: 8px;
		border: 1px;
		font-size: 10px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;

		&:focus {
			outline: unset;
		}
	}

	.searchmatch {
		font-weight: bold;
	}

	.list {
		top: 72px;
		bottom: @softkeysHeight;
	}

	.search-offline-panel {
		width: 100vw;
		height: calc( 100vh - @softkeysHeight - 41px );
		background-color: #fff;
		display: flex;

		.search-offline-content {
			margin: auto;

			.message {
				font-size: 17px;
			}
		}
	}
}
