.toc {
	.list {
		top: @pageHeaderHeight;
		bottom: 0;

		.item .info .title {
			font-size: 17px;

			.subheader2 {
				color: #54595d;
				padding-left: 15px;
			}

			.subheader3 {
				color: #54595d;
				padding-left: 30px;
			}
		}

		.item[ nav-selected=true ] {
			background-color: #36c;

			.info .title {
				.subheader2 {
					color: #fff;
				}

				.subheader3 {
					color: #fff;
				}
			}
		}
	}
}
