
// This is the top bar with clock, battery status, etc
@headerHeight: 26px;
// This is the app top bar with page header title
@pageHeaderHeight: 28px;
// This is the bottom bar with softkeys labels
@softkeysHeight: 30px;

@availableHeight: calc(100vh - @softkeysHeight);

@colorLight: #72777d;

@smallFont: 12px;
@bigFont: 17px;

@data-selected-selector: &[data-selected='true'];

@infobox-selector: &[class^='infobox'];

// Landscape size is 320x240, this supports Jio2 devices
@landscape: (min-width: 250px);
