
// This is the top bar with clock, battery status, etc
@headerHeight: 26px;
// This is the app top bar with page header title
@pageHeaderHeight: 28px;
// This is the bottom bar with softkeys labels
@softkeysHeight: 30px;

@availableHeight: calc(100vh - @softkeysHeight);

@titleFont: Georgia, sans-serif;
@textFont: Lato, sans-serif;

@colorLight: #72777d;

@smallFont: 12px;
