version: 2.1
jobs:
  build:
    docker:
      - image: circleci/cimg:15.4.0-browsers
    steps:
      - checkout
      - run:
          name: Build and Test
          command: |
            npm install
            npm run build:ci
            npm run banana
            npm run start &
            npm test
            ./scripts/zip.sh kai
            ./scripts/zip.sh jio
      - store_artifacts:
          path: WikipediaKaiOSkai.zip
      - store_artifacts:
          path: WikipediaKaiOSjio.zip
      - store_artifacts:
          path: cypress/screenshots
          destination: screenshots
      - store_artifacts:
          path: cypress/videos
          destination: videos
